includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/nunomaduro/larastan/extension.neon

parameters:
	level: 6
	tmpDir: ./tmp/phpstan

	paths:
		- src
		- tests

	ignoreErrors:
		# Vendor wrong return type
		- '#Method TenantCloud\\GraphQLPlatform\\Testing\\TestExecutionResult::fromExecutionResult\(\) should return TenantCloud\\GraphQLPlatform\\Testing\\TestExecutionResult but returns GraphQL\\Executor\\ExecutionResult\.#i'
		# Vendor inherited without types
		- '#Method TenantCloud\\GraphQLPlatform\\Schema\\NamespacedCache::(getMultiple|setMultiple|deleteMultiple|namespacedKeys)\(\) (has parameter|return type) .*#i'
		- '#Method TenantCloud\\GraphQLPlatform\\Schema\\NullAnnotationReader::getClassAnnotation(s?)\(\) has parameter \$class with generic class ReflectionClass but does not specify its types#i'
		- '#Method TenantCloud\\GraphQLPlatform\\Validation\\LaravelCompositeTranslatorAdapter::trans\(\) has parameter \$parameters with no value type specified in iterable type array\.#i'
		-
			message: '#no value type specified#i'
			path: 'tests/*.php'
